<div class="clearfix row">
  <div class="col-sm-9">
    <h3 >About me</h3>
    <p>
      I love creating products in the computer industry 
I have been working mostly on application development and frontend on various platforms: Java Mobile, Qt, Android, Web...
I have had experiences in various aspects of product development: developer, architect, team lead, tech lead, product manager and UX lead.
    </p>  
  </div>
  <div class="col-sm-3">
    <h3 >Contact</h3>
    {% include contact.html %}
  </div>  
</div>
