<footer class="sticky-footer px-2 text-muted h6">
  <div class="float-left">
    &copy; {{ site.time | date: "%Y" }} {{ site.name }}.    
  </div>
  <div class="float-right  social-media-list ">
    {% for external_url_hash in site.contact_urls %}
      {% assign external_url = external_url_hash[1] %}
      <a href="{{ external_url.url }}" target="_blank" class="text-muted" data-hint="{{ external_url.label }}">
        <i class="fa fa-fw fa-lg fa-{{ external_url.icon }}"></i>
      </a>
    {% endfor %}
  </div>
</footer>