{% capture project_title_element %}{% if include.project_title_element %}{{ include.project_title_element }}{% else %}h2{% endif %}{% endcapture %}
<div class="row mx-3 clearfix mb-3 py-4{% unless include.exclude_divider %} border-bottom border-light-gray circle-line {% endunless %}">
  <div class="col-sm-4 px-3 mb-3">
    <a href="{{ include.project.url }}" target="_blank">
      {% capture image_path %}projects/{{ include.project.image }}{% endcapture %}
      {% include image.html path=image_path alt=include.project.name %}
    </a>
  </div>
  <div class="col-sm-8 px-3">
    <a href="{{ include.project.url }}" target="_blank" name="{{ include.project.name | downcase | replace:' ','-' | remove:',' }}"><{{ project_title_element }} class="mt0 mb0">{{ include.project.name }}</{{ project_title_element }}></a>
    <a href="{{ include.project.url }}" target="_blank" class="block h6 mb-3">{{ include.project.url }}</a>
    <p class="left-align">{{ include.project.description }}</p>
  </div>
</div>