  .contact-link {
    color: $text-color;
      line-height: $base-line-height;
    display: inline-block;
    white-space: nowrap;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
