@mixin body-font {
  font-family: "Merriweather", serif;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}


@mixin header-font {
  font-family: "Open Sans", sans-serif;
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
}

.bg-dark-blue {
  background-color: #2c3e50;
}

.bg-splash-gray {
  background-color: #f5f8fa;
}


.clear-both {
  clear: both;
}

.square-100 {
  width: 100px;
  height: 100px;
}

.max-height-120 {
  max-height: 120px;
}

.width-120 {
  width: 120px;
}


.body-font {
  @include body-font;
}

.header-font{
  @include header-font;
}

.page-title {
  font-size: 3rem;
}